<script>
	import {
		ClickableTile,
		Column,
		Content,
		Grid,
		Row,
		Tile,
		truncate
	} from 'carbon-components-svelte';

	import { base } from '$app/paths';
	let x;
	class Feature {
		constructor(i, n, sn, mt, mtc, ch, h, bU, tU) {
			(this.img = i),
				(this.name = n),
				(this.subname = sn),
				(this.mainText = mt),
				(this.mainTextCitation = mtc),
				(this.collhigh = ch),
				(this.hist = h),
				(this.browseUrl = bU),
				(this.transUrl = tU);
		}
	}
	let mayWaldenHover = 'mayWalden-f.png';
	const jackConroy = new Feature(
		'conroy-sm.png',
		'Jack Conroy',
		'"Worker-Writer"',
		[
			'John Wesley Conroy was born Dec. 5, 1898 to Irish immigrants in Monkey Nest, a coal mining camp in Missouri. From age 13 he labored in various train car factories, steel mills, and auto factories. Conroy drew upon these experiences to write his first novel,',
			'<em>The Disinherited</em>. Widely reviewed, the novel propelled its impoverished author, then 34, into public attention both in the U.S. and abroad and firmly established his reputation as an authentic worker-writer of the proletarian literary movement...'
		],
		{
			text: 'Jack Conroy papers collection guide',
			url: 'https://archives.newberry.org/repositories/2/resources/46'
		},
		[
			{
				text: 'To Hundo Evans, 1932',
				url: 'https://collections.newberry.org/asset-management/2KXJ8Z34XU7R?WS=AssetManagement',
				img: 'https://collections.newberry.org/IIIF3/Image/2KXJ8Z34XU7R/square/200,/0/default.jpg'
			},
			{
				text: 'From Gwendolyn Brooks, 1945',
				url: 'https://digital.newberry.org/transcribe/#/item/1619/page/142636',
				img: 'https://collections.newberry.org/IIIF3/Image/2KXJ8ZS6OH7CQ/square/200,/0/default.jpg'
			},
			{
				text: 'From Charles Bukowski, 1964',
				url: 'https://collections.newberry.org/asset-management/2KXJ8ZS6YTJ3A',
				img: 'https://collections.newberry.org/IIIF3/Image/2KXJ8ZS6YTJ3A/square/200,/0/default.jpg'
			}
		],
		[
			{
				text: 'Chicago Fragments',
				url: 'https://digital.newberry.org/scalar/making-modernism/conroys-fragments-on-chicago',
				img: 'https://collections.newberry.org/IIIF3/Image/2KXJ8ZSG2RUQ1/square/200,/0/default.jpg'
			},
			{
				text: 'Frank Yerby in <em>New Anvil</em>',
				url: 'https://digital.newberry.org/scalar/making-modernism/frank-yerby-in-jack-conroys-new-anvil',
				img: 'https://collections.newberry.org/IIIF3/Image/2KXJ8ZSG2KMFI/square/200,/0/default.jpg'
			},
			{
				text: '<em>They Seek a City</em>',
				url: 'https://digital.newberry.org/scalar/making-modernism/three-pages-of-typescript-from-they-seek-a-city-by-jack-conroy-and-arna-bontemps-advertisement-fo',
				img: 'seekAcity.jpg'
			}
		],
		'https://collections.newberry.org/C.aspx?VP3=DamView&KW_RID=2KXJ20V8XZL&FR_=1&W=1536&H=754#/DamView&VBID=2KXJA41S4130&PN=1&WS=SearchResults',
		'https://publications.newberry.org/transcribe/test/#/?title=jack%20conroy'
	);
	const mayWalden = new Feature(
		mayWaldenHover,
		'May Walden',
		'Socialist Party activist',
		[
			// "Chicago and Florida Socialist Party activist writer and speaker. As the wife of Socialist publisher Charles Hope Kerr, May Walden developed passionate interests in the causes of the party;",
			// "together the Kerrs moved in a circle of leftist writers and speakers, which included Clarence Darrow and Eugene Debs. After her divorce Walden continued to write and publish on such topics as women's rights, social injustices, and political issues...",
			'Chicago and Florida Socialist Party activist writer and speaker. As the wife of Socialist publisher Charles Hope Kerr, May Walden developed passionate interests in the causes of the party; together the Kerrs moved in a circle of leftist writers and speakers, ',
			"which included Clarence Darrow and Eugene Debs. After her divorce Walden continued to write and publish on such topics as women's rights, social injustices, and political issues..."
		],
		{
			text: 'May Walden papers collection guide',
			url: 'https://archives.newberry.org/repositories/2/resources/1284'
		},
		[
			{
				text: 'To Katherine Kerr Moore, 1917',
				url: 'https://collections.newberry.org/asset-management/2KXJ8ZA0HZ0M?WS=AssetManagement',
				img: 'https://collections.newberry.org/IIIF3/Image/2KXJ8ZA0HZ0M/square/200,/0/default.jpg'
			},
			{
				text: 'From Clarence Darrow, early 20th c.',
				url: 'https://collections.newberry.org/asset-management/2KXJ8ZA904MW?WS=AssetManagement',
				img: 'https://collections.newberry.org/IIIF3/Image/2KXJ8ZA904MW/square/200,/0/default.jpg'
			},
			{
				text: 'From Margaret Sanger, 1921',
				url: 'https://collections.newberry.org/asset-management/2KXJ8ZAKV08X?WS=AssetManagement',
				img: 'https://collections.newberry.org/IIIF3/Image/2KXJ8ZAKV08X/square/200,/0/default.jpg'
			}
		],
		[
			{
				text: "A Toast to Women's History Month",
				url: 'https://www.newberry.org/blog/a-toast-to-womens-history-month',
				img: 'https://collections.newberry.org/IIIF3/Image/2KXJ8ZSG2FS19/square/200,/0/default.jpg'
			},
			{
				text: 'Capital Comes to America',
				url: 'https://www.historicalmaterialism.org/blog/capital-comes-to-america-charles-h-kerr-company-and-cross-atlantic-journey-marxs-master-work',
				img: '/Kerr-Charles-H-1895.jpg'
			},
			{
				text: 'The Long Gilded Age [excerpts only]',
				url: 'https://www.google.com/books/edition/The_Long_Gilded_Age/qHIVBgAAQBAJ?hl=en&gbpv=1&bsq=%22may%20walden%22',
				img: '/gilded.jpg'
			}
		],
		'https://collections.newberry.org/C.aspx?VP3=DamView&KW_RID=2KXJ201T3RI',
		'https://publications.newberry.org/transcribe/test/#/?title=may%20walden'
	);
	const artsClub = new Feature(
		'picasso.png',
		'Arts Club of Chicago',
		'',
		[
			'The Arts Club of Chicago was incorporated in 1916 with a mission "to encourage higher standards of art, maintain galleries for that purpose; and to promote the mutual acquaintance of art lovers and art workers." Since its inception the Arts Club has been a pioneering force in modern and avant-garde art exhibitions,',
			'performances, lectures, and events in Chicago. For example, the Arts Club was the first venue in Chicago to exhibit Picasso drawings, in 1923. Other modern art exhibitions have followed, featuring artists who were to become major names and influences in the 20th century: Georges Braque, Alexander Calder, Marcel Duchamp...'
		],
		{
			text: 'Arts Club records collection guide',
			url: 'https://archives.newberry.org/repositories/2/resources/954'
		},
		[
			{
				text: 'From Alexander Calder, 1945',
				url: 'https://collections.newberry.org/asset-management/2KXJ8ZSJC8N7M',
				img: 'https://collections.newberry.org/IIIF3/Image/2KXJ8ZSG2F5MO/square/300,/0/default.jpg'
			},
			{
				text: 'From Thornton Wilder, 1930s',
				url: 'https://collections.newberry.org/asset-management/2KXJ8ZSJCWDLZ',
				img: 'https://collections.newberry.org/IIIF3/Image/2KXJ8ZSJCGQ2H/square/300,/0/default.jpg'
			},
			{
				text: 'From Harriet Monroe, 1935',
				url: 'https://collections.newberry.org/asset-management/2KXJ8ZSJC8HWJ?WS=AssetManagement',
				img: 'https://collections.newberry.org/IIIF3/Image/2KXJ8ZSJC8HWJ/square/300,/0/default.jpg'
			}
		],
		[
			{
				text: 'Arts Club Guestbook',
				url: 'https://digital.newberry.org/scalar/making-modernism/arts-club-guestbook-1934',
				img: 'guesbook.jpg'
			},
			{
				text: 'Arts Club Correspondence with Clive Bell',
				url: 'https://digital.newberry.org/scalar/making-modernism/arts-club-correspondence-with-clive-bell-1930-1939',
				img: 'clibell.jpg'
			},
			{
				text: 'Waves of Transformation',
				url: 'https://lareviewofbooks.org/article/waves-of-transformation-five-women-of-the-chicago-avant-garde/',
				img: 'waves.jpg'
			}
		],
		'https://collections.newberry.org/CS.aspx?VP3=DamView&VBID=2KXJA41SRWCJ&SMLS=1&RW=1536&RH=753&FR_=1&W=1536&H=754',
		'https://publications.newberry.org/transcribe/test/#/?title=arts%20club'
	);
	const features = [jackConroy, mayWalden, artsClub];
	function swapImg(p, img) {
		if (p === 'May Walden') {
			mayWaldenHover = mayWaldenHover === 'mayWalden-f.png' ? 'mayWalden.png' : 'mayWalden-f.png';
		}
	}
</script>

<svelte:window bind:innerWidth={x} />
{#each features as f}
	<Row>
		<div class="tile-row featurd">
			<div class="personbox">
				<div class="tile-wrapper ">
					<Tile>
						<div class="writerbox">
							<img
								class="writerimg"
								src="{base}/{f.name === 'May Walden' ? mayWaldenHover : f.img}"
								alt=""
								on:focus
								on:mouseover={() => swapImg(f.name)}
								on:mouseleave={() => swapImg(f.name)}
							/>
							<div class="namebox">
								<h5 class="name">
									{f.name + (f.subname.length > 0 ? ',' : '')}
								</h5>
								<p class="subname">{f.subname}</p>
							</div>
						</div>
					</Tile>
				</div>
				<div class="tile-wrapper">
					<Tile>
						<div class="textbox broken-quote">
							{#each f.mainText as mt, idx}
								<blockquote>
									{@html mt}
									{#if idx === f.mainText.length - 1}
										<div class="citation ">
											&mdash;<a
												href={f.mainTextCitation.url}
												target="_blank"
												class="fancy-links"
												rel="noreferrer"
												>{f.mainTextCitation.text}
											</a>
										</div>
									{/if}
								</blockquote>
							{/each}
						</div>
					</Tile>
				</div>
			</div>
		</div>
	</Row>
	<Row>
		<div class="tile-row featurd">
			<div class="tile-wrapper ftr-type ch">
				<div class="tile-liner">
					<h5>Collection Highlights</h5>
				</div>
			</div>
			{#each f.collhigh as ch, idx}
				{#if x > 1100 || idx < 2}
					<div class="tile-wrapper featurebox">
						<ClickableTile target="_blank" href={ch.url}>
							<div class="tile-liner">
								<div class="link">
									{@html ch.text}
								</div>
								<div
									class="image"
									style={`background-image: url('${
										ch.img.charAt(0) === '/' ? base + ch.img : ch.img
									}'); ${ch.text.indexOf('Calder') > -1 ? 'background-size: 135%;' : ''}`}
								/>
							</div>
						</ClickableTile>
					</div>
				{/if}
			{/each}

			<div class="tile-wrapper ftr-type">
				<ClickableTile href={f.browseUrl} target="_blank">
					<div class="tile-liner outboundclicker obc-right">
						<h5>Browse This Collection</h5>
					</div>
				</ClickableTile>
			</div>
		</div>
	</Row>
	<Row>
		<div class="tile-row featurd">
			<div class="tile-wrapper ftr-type">
				<ClickableTile href={f.transUrl}>
					<div class="tile-liner outboundclicker obc-left">
						<h5>Transcribe This Collection</h5>
					</div>
				</ClickableTile>
			</div>

			{#each f.hist as ch, idx}
				{#if x > 1100 || idx < 2}
					<div class="tile-wrapper featurebox">
						<ClickableTile target="_blank" href={ch.url}>
							<div class="tile-liner">
								<div
									class="image"
									style={`background-image: url('${
										ch.img.charAt(0) === '/' ? base + ch.img : ch.img
									}'); ${ch.text.indexOf('Calder') > -1 ? 'background-size: 135%;' : ''}`}
								/>
								<div class="link">
									{@html ch.text}
								</div>
							</div>
						</ClickableTile>
					</div>
				{/if}
			{/each}
			<div class="tile-wrapper ftr-type hist">
				<div class="tile-liner">
					<h5>Historians on Selected Papers</h5>
				</div>
			</div>
		</div>
	</Row>
{/each}

<style lang="scss">
	:global(.bx--tile:has(.obc-right)) {
		border: 1px solid var(--colorDark);
		background-color: var(--colorLight) !important;
	}
	:global(.bx--tile:has(.obc-left)) {
		border: 1px solid var(--colorLight);
		background-color: var(--colorDark) !important;
		transition: 0.2s;
		& h5 {
			color: var(--colorLight) !important;
		}
	}
	:global(.bx--tile:has(.outboundclicker)) {
		transition: 0.2s;
	}
	:global(.bx--tile:has(.obc-left):hover) {
		box-shadow: 0 5px 16px rgb(255, 255, 255, 0.4);
	}
	:global(.bx--tile:has(.obc-right):hover) {
		box-shadow: 0 5px 16px rgb(0, 0, 0, 0.2);
	}
	.featurd,
	.tile-liner {
		width: 100%;
		display: flex;
		overflow: hidden;
		height: auto;
		& .link {
			margin: 16px;
			padding: 0;
			font-size: 16px;
			display: -webkit-box;
			-webkit-box-orient: vertical;
			-webkit-line-clamp: 4;
			overflow: hidden;
		}
		& .image {
			padding: 16px;
			min-height: 150px;
			object-fit: cover;
			background-position: 50% 10%;
			background-size: 200px;
		}
		& .link,
		.image {
			height: 100%;
			flex: 1;
			// width: 50%;
		}
	}
	.featurd .featurebox {
		height: 150px;
		overflow: hidden;
		flex: 1;
	}
	.ftr-type {
		width: 150px;
		height: 150px;
		& .tile-liner {
			height: 150px;
			width: 150px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			// background: rgba(0, 0, 0, 0.1);
			& h5 {
				display: inline;
				text-align: center;
				color: var(--colorDark);
			}
		}
		&.ch {
			height: 150px;
			background: var(--colorLight);
			& h5 {
				color: var(--colorDark);
			}
		}
		&.hist {
			height: 150px;
			background: var(--colorDark);
			& h5 {
				color: var(--colorLight);
			}
		}
	}
	:global(.featurd .bx--tile) {
		font-size: var(--cds-productive-heading-03-font-size, 1.25rem);
		line-height: var(--cds-body-long-02-line-height, 1.5);
		height: 90%;
		overflow: hidden;
	}
	:global(.featurebox a.bx--tile, .ftr-type .bx--tile) {
		padding: 0;
		height: 150px;
	}
	.tile-wrapper {
		margin: 16px;
		height: 100%;
	}
	.tile-row {
		display: flex;
		// padding-top: 16px;
	}
	.broken-quote {
		display: flex;
		& blockquote {
			font-size: 20px;
			padding: 16px;
			flex: 1;
			& .citation {
				text-align: right;
				margin-top: 16px;
				& a {
					color: inherit;
				}
			}
		}
	}
	.personbox {
		display: flex;
		align-items: stretch;
	}

	.writerbox {
		box-sizing: border-box;
		max-width: 150px;
		display: flex;
		flex-direction: column;
	}
	:global(.bx--tile:has(.writerbox)) {
		padding: 0;
	}
	.namebox {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		// margin: 0 16px 16px 16px;
		margin: 16px;
	}
	.namebox,
	.name,
	.subname {
		text-align: center;
	}

	.writerimg {
		flex: 1;
		width: 150px;
		height: 150px;
		object-fit: contain;
	}
	a {
		font-weight: bold;
		text-decoration: underline;
	}
</style>
