<script>
	import { Button } from 'carbon-components-svelte';
	export let randocolors;
</script>

<footer style={`--varcolor: ${randocolors[0]}; --varbg: ${randocolors[1]}`}>
	<Button kind="secondary" href="https://publications.newberry.org/transcribe">
		Return to Transcribe
	</Button>
</footer>

<style lang="scss">
	@use '@carbon/themes';
	$btn-txt-color: var(--varcolor);
	$btn-bg-color: var(--varbg);

	.color {
		margin: 2px;
		flex: 1;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	footer {
		// position: fixed;
		// left: 0;
		// right: 0;
		// bottom: 0;

		// padding: 0 144px;
		display: flex;
		align-items: center;
		justify-content: center;
		background: var(--varcolor);
		height: 50px;
	}
	.left,
	.right {
		flex: 1;
		text-align: center;
	}
	:global(footer .bx--btn.bx--btn--secondary) {
		color: var(--varcolor);
		background-color: var(--varbg);
		transition: all 0.3s ease;
		border-color: var(--varcolor);
		&:hover {
			border-color: var(--varbg);
			color: var(--varbg);
			background-color: var(--varcolor);
		}
	}
</style>
