<script>
	import Theme from './theme.svelte';
	import Newberry from './newberry.svelte';
	import { onMount } from 'svelte';
	let shadow = false;
	onMount(() => {
		window.onscroll = () => {
			if (window.scrollY > 20) {
				shadow = true;
			} else {
				shadow = false;
			}
		};
	});

	// onDestroy(() => {
	// 	window.onscroll = () => {};
	// });
</script>

<header class={shadow ? 'shadow' : ''}>
	<Newberry />
	<div class="maintitle">
		<h3>Social Activism</h3>
	</div>
	<Theme />
</header>

<style lang="scss">
	@use '@carbon/themes';
	header {
		padding: 0 144px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		background: themes.$background-hover;
		// padding-right: 10vw;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		transition: box-shadow 0.5s;
		h3 {
			font-size: 42px !important;
		}
	}
	.shadow {
		box-shadow: 0 5px 16px rgb(0 0 0 / 10%);
	}
	:global(header > *) {
		// border: 1px solid black;
	}
</style>
