<script>
	// import { base } from '$app/paths';
	import { onMount, onDestroy } from 'svelte';
	import Newberry from '$lib/newberry.svelte';
	import Theme from '$lib/theme.svelte';
	export let randocolors;
	let shadow = false;
	onMount(() => {
		window.onscroll = () => {
			if (window.scrollY > 20) {
				shadow = true;
			} else {
				shadow = false;
			}
		};
	});

	// onDestroy(() => {
	// 	window.onscroll = () => {};
	// });
</script>

<header class={shadow ? 'shadow' : ''}>
	<a href="https://www.newberry.org" target="_blank" rel="noreferrer">
		<Newberry fillColor={randocolors[1]} />
	</a>
	<div class="maintitle">
		<a href="https://publications.newberry.org/transcribe" class="fancy-links">
			<h1>Newberry Transcribe</h1>
		</a>
	</div>
</header>

<style lang="scss">
	@use '@carbon/themes';

	header {
		height: 75px;
		padding: 0 66px;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		background: themes.$background;
		background: linear-gradient(
			210deg,
			var(--colorLight) 0%,
			var(--colorLight) 40vw,
			var(--colorDark) 40vw,
			var(--colorDark) 100vw
		) !important;
		// padding-right: 10vw;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		transition: box-shadow 0.5s;
	}
	.maintitle {
		padding-left: 130px;
		// color: var(--colorDark);
		display: flex;
		// justify-content: center;
		align-items: center;
		& a {
			color: var(--colorDark);
		}
	}
	.shadow {
		box-shadow: 0 5px 16px rgb(0 0 0 / 10%);
	}
</style>
