<script>
	import { Tile } from 'carbon-components-svelte';
	export let blockquote = false,
		center = '';
</script>

<Tile>
	<div class="tile-liner">
		<p class={`regular-text${center && ' center'}`}>
			{#if blockquote}
				<blockquote>
					<slot />
				</blockquote>
			{:else}
				<slot />
			{/if}
		</p>
	</div>
</Tile>
<div class="space" />

<style lang="scss">
	@use '@carbon/themes';
	.tile-liner {
		margin: 15px;
	}
	.regular-text,
	blockquote {
		text-align: left;
		font-size: var(--cds-productive-heading-03-font-size, 1.25rem);
		line-height: var(--cds-body-long-02-line-height, 1.5);
		padding-top: 10px;
	}
	.center {
		text-align: center;
	}
	.space {
		margin: 32px;
	}
	blockquote {
		padding: 30px;
		background: themes.$background-hover;
	}
</style>
