<script>
	import { OverflowMenu, OverflowMenuItem, Theme } from 'carbon-components-svelte';
	import Light from 'carbon-icons-svelte/lib/Light.svelte';
	import LightFilled from 'carbon-icons-svelte/lib/LightFilled.svelte';
	import Moon from 'carbon-icons-svelte/lib/Moon.svelte';
	export let theme = 'g10',
		fillColor;
	let themes = [
		{ id: 'white', name: 'white' },
		{ id: 'g10', name: '10%' },
		{ id: 'g80', name: '80%' },
		{ id: 'g90', name: '90%' },
		{ id: 'g100', name: 'black' }
	];
	const open = true;
	let icon = ['white', 'g10'].includes(theme) ? Light : LightFilled;
</script>

<Theme bind:theme persist persistKey="__newberry-socialactivism-theme" />
<div class="wrap">
	<OverflowMenu flipped>
		<div slot="menu">
			{#if ['white', 'g10'].includes(theme)}
				<Light size={32} fill={fillColor} />
			{:else}
				<Moon size={32} fill={fillColor} />
			{/if}
		</div>
		{#each themes as theem}
			<OverflowMenuItem class={theem.id} text={theem.name} on:click={() => (theme = theem.id)} />
		{/each}
	</OverflowMenu>
</div>

<style lang="scss">
	@use '@carbon/colors';
	.wrap {
		/* width is so the flex balances the "center" with newberry logo */
		width: 275px;
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}
	:global(.white, .g10, .g80, .g90, .g100) {
		font-family: 'StyreneB';
	}
	:global(.bx--overflow-menu-options .white) {
		background: white !important;
		&:hover {
			background: colors.$gray-10 !important;
		}
	}
	:global(.white .bx--overflow-menu-options__option-content) {
		color: colors.$gray-100 !important;
	}
	:global(.bx--overflow-menu-options .g10) {
		background: colors.$gray-10 !important;
		&:hover {
			background: colors.$gray-20 !important;
		}
	}
	:global(.g10 .bx--overflow-menu-options__option-content) {
		color: colors.$gray-100 !important;
	}
	:global(.bx--overflow-menu-options .g80) {
		background: colors.$gray-80 !important;
		&:hover {
			background: colors.$gray-70 !important;
		}
	}
	:global(.g80 .bx--overflow-menu-options__option-content) {
		color: colors.$gray-10 !important;
	}
	:global(.bx--overflow-menu-options .g90) {
		background: colors.$gray-90 !important;
		&:hover {
			background: colors.$gray-80 !important;
		}
	}
	:global(.g90 .bx--overflow-menu-options__option-content) {
		color: colors.$gray-10 !important;
	}
	:global(.bx--overflow-menu-options .g100) {
		background: colors.$gray-100 !important;
		&:hover {
			background: colors.$gray-90 !important;
		}
	}
	:global(.g100 .bx--overflow-menu-options__option-content) {
		color: colors.$gray-10 !important;
	}
</style>
