<script>
	import { Column, ClickableTile } from "carbon-components-svelte";
	import AiExplainability from "carbon-pictograms-svelte/lib/AiExplainability.svelte";
	import SpeechToText from "carbon-pictograms-svelte/lib/SpeechToText.svelte";
	import Desk from "./pictos/deskcitymashed.svelte";
</script>

<Column>
	<ClickableTile
		href="https://publications.newberry.org/transcribe/"
		target="_blank"
		rel="noopener noreferrer"
	>
		<div class="pictoboxes">
			<SpeechToText class="picon " />
			<div class="pictotextes">
				<h4 class="pictotext">Transcribe</h4>
			</div>
		</div>
	</ClickableTile>
</Column>
<Column>
	<ClickableTile
		href="https://collections.newberry.org/CS.aspx?VP3=DamView&VBID=2KXJA41FUEPM&SMLS=1&RW=1920&RH=969"
		target="_blank"
		rel="noopener noreferrer"
	>
		<div class="pictoboxes">
			<span class="picon">
				<Desk />
			</span>
			<div class="pictotextes">
				<h4 class="pictotext">Browse</h4>
			</div>
		</div>
	</ClickableTile>
</Column>
<Column>
	<ClickableTile
		href="https://publications.newberry.org/transcribe/data/itemTranscriptions.json"
		target="_blank"
		rel="noopener noreferrer"
	>
		<div class="pictoboxes">
			<AiExplainability class="picon " />
			<div class="pictotextes">
				<h4 class="pictotext">Analyze</h4>
			</div>
		</div>
	</ClickableTile>
</Column>

<style lang="scss">
	.pictoboxes {
		display: flex;
		justify-content: space-around;
		align-items: center;
		position: relative;

		& .pictotextes {
			flex: 2;
		}
		& .pictotext {
		}
		& .picon {
			text-align: center;
			flex: 1;
			height: 64px;
		}
	}
	:global(svg.rotater) {
		transform: rotate(270deg);
	}
	:global(svg.picon) {
		flex: 1;
	}
</style>
