<script>
	import { ClickableTile } from 'carbon-components-svelte';
	export let data;
</script>

<h3>{data[0]}</h3>
<div class="tileset">
	{#each data as dat, idx}
		{#if idx > 0}
			<ClickableTile>
				<img
					src={`https://collections.newberry.org/IIIF3/Image/${
						dat.img[0] + dat.img[1]
					}/default.jpg`}
					alt={dat.title}
				/>
				<h4>{dat.title}</h4>
				<p>{@html dat.desc.replace(/\*(.*?)\*/, '<em>$1</em>')}</p>
			</ClickableTile>
		{/if}
	{/each}
</div>

<style lang="scss">
	@use '@carbon/themes';
	.tileset {
		display: flex;
		justify-content: space-between;
	}
	h3 {
		text-align: center;
		padding: 15px;
	}
	:global(.tileset .bx--tile.bx--tile--clickable) {
		border: 1px solid themes.$background-hover;
		background: themes.$background-hover;
		box-shadow: 0 5px 16px rgb(0 0 0 / 10%);
		width: 300px;
		padding: 0;
		transition: 0.2s all;
		&:hover {
			box-shadow: 0 5px 16px rgb(0 0 0 / 20%);
		}
	}
	.tileset img {
		width: 300px;
		height: 300px;
		object-fit: cover;
	}
	.tileset h4 {
		padding: 16px 16px 0 16px;
	}
	.tileset p {
		padding: 0 16px 16px 16px;
	}
</style>
