<script>
	import 'carbon-components-svelte/css/all.css';
</script>

<slot />

<style>
	:global(body, pre) {
		font-family: 'signifier' !important;
	}
	:global(h3, h4, h5, h6) {
		font-family: 'StyreneB' !important;
		font-weight: bold;
	}
	:global(h1, h2) {
		font-family: 'FlechaMM' !important;
	}
	@font-face {
		font-family: 'FlechaM';
		src: url('fonts/FlechaM-Regular.woff') format('woff');
	}
	@font-face {
		font-family: 'signifier';
		src: url('fonts/signifier-regular.woff2') format('woff2');
	}
	@font-face {
		font-family: 'StyreneB';
		src: url('fonts/StyreneB-Regular-Web.woff') format('woff');
	}
	@font-face {
		font-family: 'FlechaMBl';
		src: url('fonts/FlechaM-Black.woff') format('woff');
	}
	@font-face {
		font-family: 'FlechaMBo';
		src: url('fonts/FlechaM-Bold.woff') format('woff');
	}
	@font-face {
		font-family: 'FlechaMM';
		src: url('fonts/FlechaM-Medium.woff2') format('woff2');
	}
</style>
