<script>
	import { Dropdown } from 'carbon-components-svelte';
	import { goto } from '$app/navigation';
	import titles from '$src/titles.json';
	const items = titles
		.map((m) => ({ id: m[0], text: m[0] + '. ' + m[1] }))
		.sort((a, b) => (parseInt(a.id) > parseInt(b.id) ? 1 : -1));
</script>

<div class="wrapper">
	<Dropdown
		titleText="go to an item"
		selectedId="2"
		{items}
		on:select={(e) => goto('/' + e.detail.selectedId)}
	/>
</div>

<style>
	.wrapper {
		width: 50%;
		margin: 20px auto;
	}
</style>
