<script>
	import Hero from '$lib/stylex/hero.svelte';
	import Header from '$lib/stylex/header.svelte';
	import { ClickableTile, Column, Content, Grid, Row, Tile } from 'carbon-components-svelte';

	const images = [
		['2KXJ8Z7S8AUE', 1200, 514],
		['2KXJ8ZS6D5JGW', 1792, 1368],
		['2KXJ8ZQZ7GQS', 1200, 945],
		['2KXJ8ZJY9XVT', 2000, 1459],
		['2KXJ8ZS6YQS4A', 1650, 2000],
		['2KXJ8ZA9UW_R', 2000, 1312]
	];
</script>

<Header />

<Hero />

<div id="images">
	<Content>
		<Grid>
			<Row>
				<Column>
					{#each images as image, idx}
						{#if idx < 4}
							<ClickableTile
								href={`https://collections.newberry.org/IIIF3/Image/${image[0]}/full/max/0/default.jpg`}
								data-img={`https://collections.newberry.org/IIIF3/Image/${image[0]}/full/max/0/default.jpg`}
								data-thumb={`https://collections.newberry.org/IIIF3/Image/${image[0]}/full/300,/0/default.jpg`}
								data-alt="artfully scripted poem on worker's rights by eugene debs"
								data-intro="fadeup"
								data-height={image[1]}
								data-width={image[2]}
							>
								<img
									src={`https://collections.newberry.org/IIIF3/Image/${image[0]}/full/300,/0/default.jpg`}
									alt="artfully scripted poem on worker's rights by eugene debs"
								/>
							</ClickableTile>
							<div class="space" />
						{/if}
					{/each}
				</Column>
				<Column>
					<Tile
						><div class="tile-liner">
							<h3>
								The Newberry is seeking help to improve access to its manuscript collections on
								prominent social reformers of 20th-century Chicago.
							</h3>
						</div>
					</Tile>
					<div class="space" />
					<Tile
						><div class="tile-liner">
							<h4>Newberry Digital Collections: Social activism manuscripts</h4>
							<p class="regular-text">
								With grant funding from the Institute of Museum and Library Services, the Newberry
								has digitized more than a dozen such collections, including the papers of defense
								lawyer Clarence Darrow, correspondence by International Workers of the World founder
								Eugene Debs, letters written by women’s rights activist May Walden, and the papers
								of Chicago NAACP president E. Winston Williams and his wife and partner, Ina D.
								Williams. This content, featuring 150 digital objects comprising more than 100,000
								manuscript pages, is now freely available to the public: Social activist materials
								at Newberry Digital Collections
							</p>
						</div>
					</Tile>
					<div class="space" />
					<Tile
						><div class="tile-liner">
							<blockquote>
								“The materials... draw on the Newberry’s strong collections of social action and
								social protest in Chicago and place today’s struggles for social justice within a
								larger historical context: the movements for civil rights, women’s suffrage, and
								worker’s rights of a century ago,” said Alison Hinderliter, Lloyd Lewis Curator of
								Modern Manuscripts. “In this way, the Newberry can help the public look to the past
								in order to better understand our current turbulent moment.”
							</blockquote>
						</div>
					</Tile>
					<div class="space" />
					<Tile
						><div class="tile-liner">
							<h4>Transcribing social action</h4>
							<p class="regular-text">
								While printed pages can be made full-text searchable through automated methods, the
								first-hand accounts contained in handwritten letters, diaries, and other documents
								have been more challenging for researchers to access – until recently. Thanks to
								cultural heritage crowdsourcing projects such as Newberry Transcribe, the public can
								participate in historical scholarship by adding transcriptions, making digitized
								primary sources easier to search, browse, and share.
							</p>
						</div>
					</Tile>
					<div class="space" />
					{#each images as image, idx}
						{#if idx > 3}
							<ClickableTile
								href={`https://collections.newberry.org/IIIF3/Image/${image[0]}/full/max/0/default.jpg`}
								data-img={`https://collections.newberry.org/IIIF3/Image/${image[0]}/full/max/0/default.jpg`}
								data-thumb={`https://collections.newberry.org/IIIF3/Image/${image[0]}/full/300,/0/default.jpg`}
								data-alt="artfully scripted poem on worker's rights by eugene debs"
								data-height={image[1]}
								data-width={image[2]}
								data-intro="fadeup"
							>
								<img
									src={`https://collections.newberry.org/IIIF3/Image/${image[0]}/full/300,/0/default.jpg`}
									alt="artfully scripted poem on worker's rights by eugene debs"
								/>
							</ClickableTile>
							<div class="space" />
						{/if}
					{/each}
				</Column>
			</Row>
		</Grid>
	</Content>
</div>

<style lang="scss">
	@use '@carbon/themes';
	:global(#images a) {
		margin: auto;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	#images {
		margin-top: 50px;
	}
	.tile-liner {
		margin: 15px;
	}
	.regular-text,
	blockquote {
		font-size: var(--cds-productive-heading-03-font-size, 1.25rem);
		line-height: var(--cds-body-long-02-line-height, 1.5);
		padding-top: 10px;
	}
	.space {
		margin: 15px;
	}
	blockquote {
		padding: 30px;
		background: themes.$background-hover;
	}
	.mirador-frame {
		width: 100%;
		min-height: 70vh;
	}
</style>
