<script>
	import { page } from '$app/stores';
	import { onMount } from 'svelte';
	import titles from '$src/titles.json';
	import SvelteMarkdown from 'svelte-markdown';

	let source, visibleTitle;
	const pageTitle = titles.filter((i) => i[0] === $page.params.item)[0][1];
	onMount(async () => {
		let src = 'data/item_' + $page.params.item + '.txt';
		console.log(src);
		fetch(src)
			.then((r) => r.text())
			.then((txt) => (source = txt))
			.catch((error) => {
				console.log(error);
				source = '# Item not found.';
				return [];
			});
		window.onscroll = () => {
			if (window.scrollY > 20) {
				visibleTitle = true;
			} else {
				visibleTitle = false;
			}
		};
	});
</script>

<header class={visibleTitle ? 'show' : 'hide'}>
	<h5>{pageTitle}</h5>
</header>

<main>
	{#await source}
		<p>Loading...</p>
	{:then source}
		<SvelteMarkdown {source} />
	{:catch error}
		<SvelteMarkdown {source} />
	{/await}
</main>

<style lang="scss">
	@use '@carbon/themes';

	main {
		margin: 20px 10px;
	}
	header {
		border-bottom: 1px solid themes.$text-secondary;
		background: themes.$background-hover;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		padding: 3px 10px;
		transition: 0.2s;
		&.show {
			opacity: 0.99;
		}
		&.hide {
			opacity: 0.01;
		}
	}
</style>
