<script>
	// import 'carbon-components-svelte/css/white.css';
	import '../newberry.scss';
	import 'carbon-components-svelte/css/all.css';
	import 'bigger-picture/css';
	import { ClickableTile, Column, Content, Grid, Row, Tile } from 'carbon-components-svelte';
	import { onMount } from 'svelte';
	import BiggerPicture from 'bigger-picture';
	import Header from '$lib/header.svelte';
	import Footer from '$lib/footer.svelte';
	export let data;
	const { randocolors } = data;
</script>

<Header {randocolors} />

<div class="padding">
	<slot />
</div>

<style lang="scss">
	// :global(body) {
	// 	--colorDark: #ad285a;
	// 	--colorLight: rgba(234, 235, 231, 1);
	// }
	.padding {
		background: linear-gradient(
			210deg,
			var(--colorLight) 0%,
			var(--colorLight) 40vw,
			var(--colorDark) 40vw,
			var(--colorDark) 100vw
		) !important;
		background-attachment: fixed !important;
		margin: 60px 0 0 0;
	}
	:global(header) {
		z-index: 100;
	}
	:global(body) {
		font-family: 'signifier' !important;
	}
	:global(h3, h4, h5, h6) {
		font-family: 'StyreneB' !important;
		font-weight: bold;
	}
	:global(h1, h2) {
		font-family: 'FlechaMM' !important;
	}
	:global(.bx--grid) {
		max-width: none;
	}
	@font-face {
		font-family: 'FlechaM';
		src: url('fonts/FlechaM-Regular.woff') format('woff');
	}
	@font-face {
		font-family: 'signifier';
		src: url('fonts/signifier-regular.woff2') format('woff2');
	}
	@font-face {
		font-family: 'StyreneB';
		src: url('fonts/StyreneB-Regular-Web.woff') format('woff');
	}
	@font-face {
		font-family: 'FlechaMBl';
		src: url('fonts/FlechaM-Black.woff') format('woff');
	}
	@font-face {
		font-family: 'FlechaMBo';
		src: url('fonts/FlechaM-Bold.woff') format('woff');
	}
	@font-face {
		font-family: 'FlechaMM';
		src: url('fonts/FlechaM-Medium.woff2') format('woff2');
	}

	:global(.fancy-links) {
		text-decoration: none;
		position: relative;
		// background-color: var(--colorLight);
	}
	:global(.fancy-links::before) {
		content: '';
		position: absolute;
		bottom: 0;
		right: 0;
		width: 0;
		height: 2px;
		background-color: var(--colorDark);
		transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
	}
	:global(.fancy-links:hover::before) {
		left: 0;
		right: auto;
		width: 100%;
	}
</style>
