<script>
	import { base } from '$app/paths';
	import { onMount } from 'svelte';
	import { allison } from '$src/stores';
	import { ClickableTile, Column, Content, Grid, Row, Tile } from 'carbon-components-svelte';
	import BiggerPicture from 'bigger-picture';
	import Tiles from '$lib/tiles.svelte';
	import Featured from '$lib/featured.svelte';

	const images = [
		[
			'2KXJ8Z7SGNFE',
			2000,
			1608,
			'https://publications.newberry.org/transcribe/#/item/1578/page/132705',
			'To Eugene V. Debs from Bartolomeo Vanzetti, 1927'
		],
		// ['2KXJ8Z7S8AUE', 1200, 514, ''],
		[
			'2KXJ8ZS6D5JGW',
			1792,
			1368,
			'https://collections.newberry.org/asset-management/2KXJ8ZS6D5JGW',
			'Graham Taylor papers'
		],
		[
			'2KXJ8ZQZ7GQS',
			1200,
			945,
			'https://collections.newberry.org/asset-management/2KXJ8ZQZ7GQS',
			'E. Winston and Ina D. Williams NAACP papers'
		],
		[
			'2KXJ8ZJY9XVT',
			2000,
			1459,
			'https://collections.newberry.org/asset-management/2KXJ8ZJY9XVT',
			'Franklin and Penelope Rosemont collection of IWW publications and ephemera'
		],
		[
			'2KXJ8ZS6YQS4A',
			1650,
			2000,
			'https://collections.newberry.org/asset-management/2KXJ8ZS6YQS4A',
			'Jack Conroy papers'
		],
		[
			'2KXJ8ZA9UW_R',
			2000,
			1312,
			'https://collections.newberry.org/asset-management/2KXJ8ZA9UW_R',
			'May Walden papers'
		]
	];
	let bp, imageLinks;
	onMount(() => {
		bp = BiggerPicture({
			target: document.body
		});
		imageLinks = document.querySelectorAll('#bp-gallery-image a');
		for (let link of imageLinks) {
			link.addEventListener('click', openGallery);
		}
	});

	function openGallery(e) {
		console.log('o heyyy');
		e.preventDefault();
		bp.open({
			items: imageLinks,
			el: e.currentTarget,
			intro: 'fadeup'
		});
	}
	const content = [
		['Transcribing Social Activism'],
		[
			'Why transcribe?',

			'While printed pages can be made full-text searchable through automated methods, the first-hand accounts contained in handwritten letters, diaries, and other documents have been more challenging for researchers to access – until recently. Thanks to cultural heritage crowdsourcing projects such as Newberry Transcribe, the public can participate in historical scholarship by adding transcriptions, making digitized primary sources easier to search, browse, and share.'
		],
		[
			'Please help improve access to the papers of prominent social reformers of 20th-century Chicago!'
		],
		[
			'About the project',
			'With grant funding from the Institute of Museum and Library Services, the Newberry has digitized more than a dozen such collections, including the papers of defense lawyer Clarence Darrow, correspondence by International Workers of the World founder Eugene Debs, letters written by women’s rights activist May Walden, and the papers of Chicago NAACP officers E. Winston and Ina D. Williams.'
		],
		[
			'“The materials... draw on the Newberry’s strong collections of social action and social protest in Chicago and place today’s struggles for social justice within a larger historical context: the movements for civil rights, women’s suffrage, and worker’s rights of a century ago,” said Alison Hinderliter, Lloyd Lewis Curator of Modern Manuscripts. “In this way, the Newberry can help the public look to the past in order to better understand our current turbulent moment.”'
		]
	];
</script>

<Content>
	<Grid padding>
		<Row>
			<Column>
				<div class="tile-wrapper title">
					<Tile>
						<h3>{content[0][0]}</h3>
					</Tile>
				</div>
			</Column>
			<Column>
				<div class="tile-wrapper">
					<Tile>
						<h4>{content[2][0]}</h4>
					</Tile>
				</div>
			</Column>
		</Row>
		<Row>
			<Column>
				<div class="tile-wrapper solo" id="bp-gallery-image">
					<ClickableTile
						href={`https://collections.newberry.org/IIIF3/Image/${images[0][0]}/full/2000,/0/default.jpg`}
						data-img={`https://collections.newberry.org/IIIF3/Image/${images[0][0]}/full/2000,/0/default.jpg`}
						data-thumb={`https://collections.newberry.org/IIIF3/Image/${images[0][0]}/full/300,/0/default.jpg`}
						data-alt="artfully scripted poem on worker's rights by eugene debs"
						data-intro="fadeup"
						data-height={images[0][1]}
						data-width={images[0][2]}
						data-caption={`${images[0][4]}. <a href="${images[0][3]}" class="hovnderline" target="_blank" rel="noopener noreferrer">View at Newberry Transcribe
									</a>`}
					>
						<figure>
							<img
								src={`https://collections.newberry.org/IIIF3/Image/${images[0][0]}/full/400,/0/default.jpg`}
								alt=""
							/>
							<figcaption>
								{@html images[0][4] || 'Name of the thing'}
							</figcaption>
						</figure>
					</ClickableTile>
				</div>
			</Column>
			<Column>
				<div class="tile-wrapper">
					<Tile>
						<h4>{content[3][0]}</h4>
						<p class="regular-text">{content[3][1]}</p>
					</Tile>
					<div class="tile-wrapper">
						<Tile>
							<div class="gallery" id="bp-gallery-image">
								{#each images as image, idx}
									{#if idx > 0}
										<a
											href={`https://collections.newberry.org/IIIF3/Image/${image[0]}/full/2000,/0/default.jpg`}
											data-img={`https://collections.newberry.org/IIIF3/Image/${image[0]}/full/2000,/0/default.jpg`}
											data-thumb={`https://collections.newberry.org/IIIF3/Image/${image[0]}/full/300,/0/default.jpg`}
											data-alt="artfully scripted poem on worker's rights by eugene debs"
											data-intro="fadeup"
											data-height={image[1]}
											data-width={image[2]}
											data-caption={`${image[4]}.  <a href="https://collections.newberry.org/asset-management/${image[3]}" class="hovnderline" target="_blank" rel="noopener noreferrer">View at Newberry Transcribe
                                                </a>`}
										>
											<img
												src={`https://collections.newberry.org/IIIF3/Image/${image[0]}/square/300,/0/default.jpg`}
												alt=""
											/>
										</a>
									{/if}
								{/each}
							</div>
						</Tile>
					</div>
				</div>
			</Column>
		</Row>
		<Row>
			<Tiles />
		</Row>
		<Row>
			<Column>
				<div class="tile-wrapper">
					<Tile>
						<h4>{content[1][0]}</h4>
						<p class="regular-text">{content[1][1]}</p>
					</Tile>

					<Tile>
						<blockquote>{content[4][0]}</blockquote>
					</Tile>
				</div>
			</Column>
			<Column>
				<Tile>
					<div class="nolbimg-wrapper">
						<img
							class="nolbimg"
							src="{base}/img_5722-justallison.png"
							alt="librarian, wearing archivists gloves, holding a book"
						/>
						<div class="allicaption">
							<p>
								Alison Hinderliter. Photo: <a
									href="https://csoarchives.wordpress.com/2015/12/01/celebrating-philanthropy-with-a-loan-to-the-smithsonian/"
									target="_blank"
									rel="noreferrer">CSOA</a
								>
							</p>
						</div>
					</div>
				</Tile>
			</Column>
		</Row>
		<Row>
			<Column>
				<Tile>
					<h3 class="subtitle">Featured Collections</h3>
				</Tile>
			</Column>
		</Row>
		<Featured />
	</Grid>
</Content>

<style lang="scss">
	@use '@carbon/themes';
	:global(.bx--tile:has(.nolbimg-wrapper)) {
		height: 100%;
		& .nolbimg-wrapper,
		.nolbimg {
			height: 100%;
		}
	}
	.nolbimg-wrapper {
		display: flex;
		flex: 1;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
	}
	.nolbimg {
		width: 100%;
		object-fit: contain;
		margin: auto;
	}
	.tile-wrapper {
		height: 100%;
		flex: 1;
		display: flex;
		flex-direction: column;
		& :global(.bx--tile) {
			margin-bottom: 32px;
			&:last-child {
				flex: 1;
				margin-bottom: 0;
			}
		}
	}
	.regular-text,
	blockquote {
		font-size: var(--cds-productive-heading-03-font-size, 1.25rem);
		line-height: var(--cds-body-long-02-line-height, 1.5);
		padding-top: 10px;
	}

	blockquote {
		padding: 30px;
		margin: 15px;
		background: themes.$background-hover;
	}
	:global(.solo#bp-gallery-image a) {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		& figure {
			width: 65%;
			& img {
				width: 100%;
			}
		}
	}
	.gallery#bp-gallery-image {
		height: 100%;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		& a {
			flex: 1 1 30%;

			// width: 30%;
			height: 150px;
			// min-height: 200px;
			overflow: hidden;
			margin: 2px;
			& img {
				width: 120%;
				height: 120%;
				object-fit: cover;
			}
		}
	}
	.title h3 {
		justify-content: flex-start;
	}
	.subtitle {
		justify-content: center;
	}
	.title h3,
	.subtitle {
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
	}
</style>
