<svg
	preserveAspectRatio="xMidYMid meet"
	xmlns="http://www.w3.org/2000/svg"
	viewBox="0 0 32 32"
	width="64"
	height="64"
	fill="black"
>
	<path
		d="M31,28.36H1v-0.72h3.938C3.45,26.785,2.64,25.193,2.64,23c0-4.724,6.618-9.36,13.36-9.36	S29.36,18.276,29.36,23c0,2.193-0.811,3.785-2.298,4.64H31V28.36z M16,24.64c2.253,0,3.615,0.915,4.816,1.723	c1.021,0.686,1.901,1.277,3.184,1.277c2.921,0,4.561-1.569,4.637-4.428C24.897,20.691,20.532,19.36,16,19.36	s-8.897,1.331-12.637,3.852C3.439,26.07,5.079,27.64,8,27.64c1.283,0,2.164-0.592,3.184-1.277C12.385,25.555,13.747,24.64,16,24.64z M10.519,27.64h10.963c-0.362-0.206-0.711-0.44-1.066-0.68c-1.171-0.786-2.381-1.6-4.415-1.6s-3.244,0.813-4.415,1.6	C11.23,27.199,10.881,27.434,10.519,27.64z M16,18.64c4.495,0,8.832,1.271,12.59,3.68c-0.603-4.115-6.543-7.96-12.59-7.96	c-6.046,0-11.987,3.845-12.59,7.959C7.168,19.91,11.504,18.64,16,18.64z M26.5,12.36c-1.025,0-1.86-0.834-1.86-1.86h0.721	c0,0.628,0.511,1.14,1.14,1.14s1.14-0.512,1.14-1.14s-0.511-1.14-1.14-1.14H15V8.64h11.5c1.025,0,1.86,0.834,1.86,1.86	S27.525,12.36,26.5,12.36z M20.5,7.36H11V6.64h9.5c0.629,0,1.14-0.512,1.14-1.14s-0.511-1.14-1.14-1.14s-1.14,0.512-1.14,1.14h-0.72	c0-1.025,0.835-1.86,1.86-1.86s1.86,0.834,1.86,1.86S21.525,7.36,20.5,7.36z"
	/>
</svg>

<style>
	svg {
		position: absolute;
		left: 0;
		bottom: 9px;
		scale: 0.6;
	}
</style>
