<script>
	import {
		Button,
		ButtonSet,
		ClickableTile,
		Column,
		Content,
		Grid,
		Row,
		Tile
	} from 'carbon-components-svelte';
	import { onMount } from 'svelte';
	import BiggerPicture from 'bigger-picture';
	import Textile from '../../lib/textile.svelte';
	import Tileset from '../../lib/tileset.svelte';

	const images = [
		['2KXJ8Z7S8AUE', 1200, 514],
		['2KXJ8ZS6D5JGW', 1792, 1368],
		['2KXJ8ZQZ7GQS', 1200, 945],
		['2KXJ8ZJY9XVT', 2000, 1459],
		['2KXJ8ZS6YQS4A', 1650, 2000],
		['2KXJ8ZA9UW_R', 2000, 1312]
	];
	let bp, imageLinks;
	onMount(() => {
		bp = BiggerPicture({
			target: document.body
		});
		imageLinks = document.querySelectorAll('#images a');
		for (let link of imageLinks) {
			link.addEventListener('click', openGallery);
		}
	});

	function openGallery(e) {
		console.log('o heyyy');
		e.preventDefault();
		bp.open({
			items: imageLinks,
			el: e.currentTarget,
			intro: 'fadeup'
		});
	}
	const highlights = [
		'Highlights',
		{
			img: ['2KXJ8Z2UVJ91', '/square/300,/0'],
			title: 'Fancy Handwriting',
			desc: "You just can't get enough of it."
		},
		{
			img: ['2KXJ8ZYB07F', '/square/300,/0'],
			title: 'Aeroplane',
			desc: "Its a funny way to spell it, isn't it."
		},
		{
			img: ['2KXJ8ZYB5JV', '/square/300,/0'],
			title: 'Buckingham',
			desc: "It's not just a palace anymore.  It's also a fountain."
		},
		{
			img: ['2KXJ8ZVJXS8J', '/0,0,600,600/300,/0'],
			title: 'A Texas Cow Boy',
			desc: "I'm a cow *man*, father."
		}
	];
	const historians = [
		'Historians on Conroy',
		{
			img: ['2KXJ8ZS2MLL00', '/square/300,/0'],
			title: 'Rocks etc',
			desc: 'Does every square have to have a caption'
		},
		{
			img: ['2KXJ8ZS2MLRIE', '/square/300,/0'],
			title: 'Paint Smooshes I Think',
			desc: 'Tbh I have no idea'
		},
		{
			img: ['2KXJ8ZS2M6AZC', '/square/300,/0'],
			title: 'Such a Cute Couple',
			desc: 'I think this was after their wedding'
		},
		{
			img: ['2KXJ8ZS2ML8KH', '/square/300,/0'],
			title: "She's Not Naked, She's Mesoamerican",
			desc: "But it's actually the boobie that's offensive, not the cultural tourism"
		}
	];
</script>

<Content>
	<Grid>
		<Row>
			<Column>
				<Textile center>
					<h3>Jack Conroy,</h3>
					<h4>"Worker-Writer"</h4>
				</Textile>
				<Textile>
					<img
						class="jumbo-conroy"
						src="conroy.png"
						alt="jack conroy, wearing overalls and holding a hoe in his left hand and the bridle of a cow in the right, looking determined, into the middle distance"
					/>
				</Textile>
			</Column>
			<Column>
				<Textile>
					John Wesley Conroy was born Dec. 5, 1898 to Irish immigrants in Monkey Nest, a coal mining
					camp in Missouri. From age 13 he labored in various train car factories, steel mills, and
					auto factories. Conroy drew upon these experiences to write his first novel, The
					Disinherited. Widely reviewed, the novel propelled its impoverished author, then 34, into
					public attention both in the U.S. and abroad and firmly established his reputation as an
					authentic worker-writer of the proletarian literary movement.
				</Textile>
				<Textile blockquote>
					As editor of such literary "little magazines" as The Rebel Poet, The Anvil, and The New
					Anvil, Conroy helped launch writers like Richard Wright, Erskine Caldwell, and Nelson
					Algren. In 1938 Conroy came to Chicago, on Algren's suggestions, to work on the Illinois
					Writers Project. Along with recording folktales and industrial folklore, Conroy was
					assigned to the black history portion of the IWP, and collaborated with Arna Bontemps,
					producing the pioneering black studies works They Seek a City (1945) and Anyplace but Here
					(1965), both about African-American migration from the South to the North...
					<p class="citation">&mdash; Jack Conroy papers collection guide</p>
				</Textile>
				<div class="space" />
				<Tile>
					<div class="tile-liner">
						<h4 class="btn-header">Jack Conroy papers at Newberry Library</h4>
						<ButtonSet>
							<Button>
								<div class="btn-miniliner">
									<h5>Transcribe / Review</h5>
									<p>handwritten pages</p>
								</div>
							</Button>
							<Button>
								<div class="btn-miniliner">
									<h5>Browse</h5>
									<p>full collection</p>
								</div>
							</Button>
						</ButtonSet>
					</div>
				</Tile>
			</Column>
		</Row>
		<Row>
			<Column sm={16} max={16} padding>
				<Textile><Tileset data={highlights} /></Textile>
			</Column>
		</Row>
		<Row>
			<Column sm={16} max={16} padding>
				<Textile><Tileset data={historians} /></Textile>
			</Column>
		</Row>
	</Grid>
</Content>

<style>
	.citation {
		width: 100%;
		text-align: right;
	}
	.btn-header {
		text-align: center;
		margin-bottom: 10px;
	}
	.btn-miniliner {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		align-items: flex-start;
	}
	:global(.bx--btn-set .bx--btn) {
		max-width: 40%;
	}
	:global(.bx--btn-set) {
		margin: auto;
		justify-content: center;
	}
	.tile-liner {
		margin: 15px 15px 15px 0px;
	}
	.regular-text,
	blockquote {
		font-size: var(--cds-productive-heading-03-font-size, 1.25rem);
		line-height: var(--cds-body-long-02-line-height, 1.5);
		padding-top: 10px;
	}
	.space {
		margin: 32px;
	}
	.jumbo-conroy {
		width: 100%;
		margin: auto;
	}
</style>
