@mixin slashy {
    background: linear-gradient(
        var(--angleDegs),
        var(--colorDark) 0vw, var(--distance),
        var(--colorLight) var(--distance) 100vw
    );
    background-attachment: fixed !important;
}

body {
    @include slashy;
    --colorDark: #4051a3;
    --colorLight: #eaebe7;
    --angleDegs: 120deg;
    --distance: 333px;
}
// 60|600px, 120|300px, 180, 240, 300, 360