<script>
	import 'carbon-components-svelte/css/all.css';
	import 'bigger-picture/css';
	import { Column, Content, Grid, Row } from 'carbon-components-svelte';
	import Header from '$lib/header.svelte';
	import Footer from '$lib/footer.svelte';
	let theme = 'white';
</script>

<Header />
<div class="space" />
<Content>
	<slot />
</Content>
<Footer />

<style lang="scss">
	.space {
		margin: 40px;
	}
</style>
