<script>
	let primNav = {
		Visit: [
			['https://www.newberry.org/visit', 'Visit'],
			['https://www.newberry.org/visit/group-and-class-visits', 'Group and Class Visits'],
			['https://www.newberry.org/visit/accessibility', 'Accessibility'],
			['https://www.newberry.org/visit/visit-faq', 'Visit - FAQ']
		],
		Calendar: [
			['https://www.newberry.org/calendar', 'Calendar'],
			['https://www.newberry.org/calendar/exhibitions', 'Exhibitions'],
			[
				'https://www.newberry.org/calendar/the-pattis-family-foundation-chicago-book-award',
				'The Pattis Family Foundation Chicago Book Award'
			]
		],
		Collection: [
			['https://www.newberry.org/collection', 'Collection'],
			[
				'https://www.newberry.org/collection/subjects/american-history-and-culture',
				'American History and Culture'
			],
			[
				'https://www.newberry.org/collection/subjects/american-indian-and-indigenous-studies',
				'American Indian and Indigenous Studies'
			],
			[
				'https://www.newberry.org/collection/subjects/chicago-and-the-midwest',
				'Chicago and the Midwest'
			],
			[
				'https://www.newberry.org/collection/subjects/genealogy-and-local-history',
				'Genealogy and Local History'
			],
			['https://www.newberry.org/collection/subjects/history-of-the-book', 'History of the Book'],
			[
				'https://www.newberry.org/collection/subjects/maps-travel-and-exploration',
				'Maps, Travel, and Exploration'
			],
			[
				'https://www.newberry.org/collection/subjects/medieval-renaissance-and-early-modern-studies',
				'Medieval, Renaissance, and Early Modern Studies'
			],
			[
				'https://www.newberry.org/collection/subjects/modern-manuscripts-and-archives',
				'Modern Manuscripts and Archives'
			],
			['https://www.newberry.org/collection/subjects/performing-arts', 'Performing Arts'],
			['https://www.newberry.org/collection/subjects/postcards', 'Postcards'],
			['https://www.newberry.org/collection/subjects/religion', 'Religion'],
			['https://www.newberry.org/collection/use-in-person', 'Use the Collection in Person'],
			['https://collections.newberry.org/', 'Digital Collections+'],
			['https://www.newberry.org/collection/research-guides', 'Research Guides'],
			['https://www.newberry.org/collection/order-digital-files', 'Order Digital Files'],
			['https://www.newberry.org/collection/faq', 'Collection - FAQ'],
			['https://www.newberry.org/collection/ask-a-librarian', 'Ask a Librarian']
		],
		Research: [
			['https://www.newberry.org/research', 'Research'],

			['https://www.newberry.org/research/fellowships', 'Fellowships'],
			['https://www.newberry.org/research/artists-in-residence', 'Artists in Residence'],
			['https://www.newberry.org/research/scholars-in-residence', 'Scholars in Residence'],
			['https://www.newberry.org/research/scholarly-seminars', 'Scholarly Seminars']
		],
		Learn: [
			['https://www.newberry.org/learn', 'Learn'],
			['https://www.newberry.org/learn/adult-education-classes', 'Adult Education Classes'],
			['https://www.newberry.org/learn/teacher-programs', 'Teacher Programs'],
			['https://www.newberry.org/learn/undergraduate-learning', 'Undergraduate Learning']
		],
		Support: [
			['https://www.newberry.org/support', 'Support'],
			['https://www.newberry.org/support/make-a-gift', 'Make a Gift'],
			['https://www.newberry.org/support/giving-societies', 'Giving Societies'],
			['https://www.newberry.org/support/volunteer', 'Volunteer'],
			['https://www.newberry.org/support/donate-books', 'Donate Books and Materials'],
			['https://www.newberry.org/support/donor-digest', 'Donor Digest']
		]
	};
	let researchNav = [
		[
			'https://www.newberry.org/research/research-centers/renaissance-studies',
			'Center for Renaissance Studies'
		],
		[
			'https://www.newberry.org/research/research-centers/mcnickle-center',
			'D’Arcy McNickle Center for American Indian and Indigenous Studies'
		],
		[
			'https://www.newberry.org/research/research-centers/smith-center',
			'Hermon Dunlap Smith Center for the History of Cartography'
		],
		['https://www.newberry.org/research/research-centers/chicago-studies', 'Chicago Studies']
	];
	let secNav = [
		['About', 'https://www.newberry.org/about'],
		['Bookshop', 'https://bookshop.newberry.org'],
		['Donate', 'https://www.newberry.org/support/make-a-gift'],
		[
			'Catalog',
			'https://i-share-nby.primo.exlibrisgroup.com/discovery/search?vid=01CARLI_NBY:CARLI_NBY&amp;lang=en'
		],
		['Login', 'https://requests.newberry.org/']
	];
	function openSubMenu(nav) {
		console.log(nav);
	}
</script>

<div class="rightsidenav">
	<div class="primary-nav">
		<ul>
			{#each Object.keys(primNav) as nav}
				<li><button on:click={() => openSubMenu(nav)}><span>{nav}</span></button></li>
			{/each}
		</ul>
	</div>
	<div class="secondary-nav">
		<ul>
			{#each secNav as nav}
				<li><a href={nav[1]} target="_blank" rel="noreferrer"><span>{nav[0]}</span></a></li>
			{/each}
		</ul>
	</div>
</div>

<style lang="scss">
	.rightsidenav {
		display: flex;
		flex-direction: column-reverse;
		height: 100%;
		justify-content: space-between;
		padding: 0;
		width: 600px;
	}
	.secondary-nav {
		margin-top: 16px;
		font-family: Styrene B Web;
		font-size: 14px;
		line-height: 20px;
		ul {
			align-items: center;
			display: flex;
			justify-content: flex-end;
			margin: 0;
			padding: 0;
			li {
				list-style-type: none;
				&:not(:first-child) {
					margin-left: 24px;
				}
				a {
					color: inherit;
					text-decoration: none;
					// transition: color 256ms, cubic-bezier(0.23, 1, 0.32, 1);
					transition: color 256ms;
					&:hover {
						color: #fd7e14;
					}
					span {
						font-family: 'StyreneB';
						font-size: 14px;
						line-height: 20px;
					}
				}
			}
		}
	}
	.primary-nav {
		font-size: 20px;
		line-height: 28px;
		ul {
			width: 100%;
			justify-content: space-between;
			align-items: center;
			display: flex;
			// justify-content: flex-end;
			margin: 0;
			padding: 0;
			li {
				list-style-type: none;
				button {
					background: transparent;
					border: 0;
					color: #111a2a;
					cursor: pointer;
					height: 48px;
					padding: 0 0 8px;
					position: relative;
					&:hover span::after {
						background-color: #fd7e14;
					}
					span {
						font-size: 20px;
						line-height: 25px;
						&::after {
							background-color: transparent;
							bottom: 0;
							content: '';
							height: 5px;
							left: 0;
							position: absolute;
							right: 0;
							top: 0;
							top: auto;
							transition-duration: 256ms;
							transition-property: background-color;
						}
					}
				}
			}
		}
	}
</style>
