<script>
	import { ClickableTile, Column, Grid, Row, Tile } from 'carbon-components-svelte';
</script>

<div class="hero">
	<div class="breadcrumbs">
		<a>before</a><span>/</span><a>before that</a><span>/</span><a>now</a>
	</div>
	<div class="title">
		<h1>Social Activism Collection</h1>
	</div>
</div>
<div class="hero-image">
	<Grid>
		<Row>
			<Column />
			<Column>
				<div class="herospace">
					<p>
						The Newberry is seeking help to improve access to its manuscript collections on
						prominent social reformers of 20th-century Chicago.
					</p>
				</div>
			</Column>
		</Row>
	</Grid>
</div>

<style>
	.herospace {
		height: 100%;
		position: relative;
		display: flex;
		height: 300px;
		flex-direction: column;
		justify-content: flex-end;
	}
	.herospace::before {
		background: #4051a3;
		clip-path: polygon(0 100%, 100% 100%, 100% 0);
		content: '';
		display: block;
		margin-bottom: -0.5px;
		padding-top: 56.25%;
		width: 100%;
	}
	.herospace p {
		background: #4051a3;
		vertical-align: baseline;
		padding: 3rem 6.75rem 5rem;
		margin-bottom: 6rem;
		font-size: 25px;
		font-family: 'Signifier';
		color: #fafaf9;
	}
	.hero-image {
		background: url('https://collections.newberry.org/IIIF3/Image/2KXJ8ZQZ7GQS/75,130,790,650/max/0/default.jpg');
		width: 100%;
		background-size: cover;
		display: flex;
		height: 300px;
		flex-direction: row;
		justify-content: flex-end;
		background-position: 50% 15%;
	}
	.hero h1 {
		font-size: 96px;
		letter-spacing: -0.02em;
		line-height: 90px;
		margin: 2rem 0;
		font-weight: 400;
	}
	.hero {
		margin: 100px 77px 0 77px;
		height: 350px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
	}
	.breadcrumbs {
		color: blue;
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: flex-start;
	}
	.breadcrumbs a {
		font-size: 16px;
		color: #5b5c57;
		display: inline-block;
		font-family: Signifier;
		position: relative;
		text-decoration: none;
		text-transform: capitalize;
		transition: color 256ms;
	}
	.breadcrumbs a:hover:after {
		background-color: #f16151;
	}
	.breadcrumbs a:hover {
		color: #f16151;
	}
	.breadcrumbs span {
		padding: 0 5px;
	}
	.breadcrumbs a:after {
		background-color: #5b5c57;
		content: '';
		display: block;
		height: 1px;
		margin-top: 4px;
		transition: background-color 256ms cubic-bezier(0.23, 1, 0.32, 1);
		width: 100%;
	}
</style>
